<div class="grid-container">
  <div class="header-container">
    <div class="space-header">
      <span>
        <a
          routerLink="/"
        >
          Explore the Space with Angular
        </a>
      </span>
    </div>
  </div>
  <div class="sidebar-container">
    <div class="explore-items-container">
      <div class="explore-items">Explore</div>
      <mat-divider></mat-divider>
      <mat-nav-list class="choose-to-explore">
        <mat-list-item>
          <a
            mat-list-item
            routerLink="/"
          >
            Home
          </a>
        </mat-list-item>
        <mat-list-item>
          <a
            mat-list-item
            routerLink="/asteroids"
          >
            Asteroids
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <div
    class="main-area-container"
    [@routeAnimations]="prepareRoute(outlet)"
  >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <div class="footer-container">
    <div>
      <a class="nasa-docs" href="https://api.nasa.gov/api.html#EPIC" target="_blank">
        Visit NASA API Docs
      </a>
    </div>
  </div>
</div>
